<div id="new-question" class="column cont-list">
    <input type=" text" name="newQuestionName" class="title">
    <input type="text" name="newQuestionDetails">
    <select name="thème" id="thème">
        <option value="null">-- Choisissez un thème --</option>
        <option value="urbanisme">urbanisme</option>
        <option value="environnement">environnement</option>
        <option value="quartier">quartier</option>
    </select>
    <select name="type" id="type" [(ngModel)]="questionType">
        <option value="null">-- choisissez un type de question --</option>
        <option value="radio">Une seule reponse possible</option>
        <option value="checkbox">Plusieurs reponses possibles</option>
        <option value="boolean">Oui où non, vrai ou faux ...</option>
        <option value="inputText">Un champ de texte</option>
        <option value="note">Une note entre deux valeurs</option>
    </select>

    <!-- RADIO -->
    <div *ngIf="questionType === 'radio'" class="newReponse radio">
        <h3>Une seule reponse possible</h3>
        <label for="labelRadio">Reponse - 1</label>
        <input type="text" name="labelRadio">
    </div>

    <!-- CHECKBOX -->
    <div *ngIf="questionType === 'checkbox'" class="newReponse checkbox">
        <h3>Plusieurs reponses sont possibles</h3>
        <label for="labelCheckbox">Reponse - 1</label>
        <input type="text" name="labelCheckbox">
    </div>

    <!-- BOOLEAN -->
    <div *ngIf="questionType === 'boolean'" class="newReponse boolean">
        <h3>Seule deux reponses sont possibles</h3>
        <label for="labelBooleanTrue">oui</label>
        <input type="text" name="labelBooleanTrue">
        <label for="labelBooleanFasle">non</label>
        <input type="text" name="labelBooleanFalse">
    </div>

    <!-- INPUTTEXT -->
    <div *ngIf="questionType === 'inputText'" class="newReponse inputText">
        <h3>Un champ de texte.</h3>
        <label for="labelInputText">details de la question (ex : en quelques mots ... )</label>
        <input type="text" name="labelInputText">
    </div>

    <!-- NOTE -->
    <div *ngIf="questionType === 'note'" class="newReponse note">
        <h3>Une note entre deux valeurs</h3>
        <label for="labelNote">details de la question (ex : en quelques mots ... )</label>
        <input type="text" name="labelNote">
    </div>

</div>