#new-question {
    align-items: stretch;
}

.newReponse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    gap: 0.5em;
}

.row-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.radio {
}

.checkbox {
}

.boolean {
}

.inputText {
}

.note {
}
