#new-question {
    align-items: stretch;
}
input {
    flex-grow: 2;
}
.newReponse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    gap: 0.5em;
}

.radio {
}

.input-reponse {
}

.checkbox {
}

.boolean {
}

.inputText {
}

.note {
}
