<form id="new-question" class="column cont-list">

    <mat-form-field appearance="fill">
        <mat-label>titre de la question*</mat-label>
        <input matInput type=" text" name="newQuestionName" class="title">
    </mat-form-field>


    <mat-form-field>
        <mat-label>détails</mat-label>
        <input matInput type=" text" name="newQuestionDetails">
    </mat-form-field>

    <div class="row-group small-gap">
        <mat-form-field>
            <mat-label>Thème</mat-label>
            <mat-select>
                <mat-option *ngFor="let theme of themes" [value]="theme.value">
                    {{theme.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type*</mat-label>
            <mat-select (selectionChange)="assignTypeChoose($event.value)">
                <mat-option *ngFor="let type of types" [value]="type.value" name="type">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- RADIO -->
    <div *ngIf="typeChoose === 'radio'" class="newReponse radio">
        <p>Une seule reponse possible</p>
        <mat-form-field appearance="fill">
            <mat-label>Reponse 1</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Reponse 2</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Reponse 3</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <div class="row-group small-gap">
            <button mat-stroked-button>Ajouter une reponse</button>
            <button mat-flat-button color="primary">Valider la question</button>
        </div>
    </div>

    <!-- CHECKBOX -->
    <div *ngIf="typeChoose === 'checkbox'" class="newReponse checkbox">
        <p>Plusieurs reponses sont possibles</p>
        <mat-form-field appearance="fill">
            <mat-label>Reponse 1</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Reponse 2</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Reponse 3</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <div class="row-group small-gap">
            <button mat-stroked-button>Ajouter une reponse</button>
            <button mat-flat-button color="primary">Valider la question</button>
        </div>
    </div>

    <!-- BOOLEAN -->
    <div *ngIf="typeChoose === 'boolean'" class="newReponse boolean">
        <mat-form-field>
            <mat-label>Oui</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Non</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
    </div>

    <!-- INPUTTEXT -->
    <div *ngIf="typeChoose === 'inputText'" class="newReponse inputText">
        <p>Un champ de texte.</p>
        <mat-form-field>
            <mat-label>Details</mat-label>
            <input matInput type=" text" name="newQuestionDetails">
        </mat-form-field>
    </div>

    <!-- NOTE -->
    <div *ngIf="typeChoose === 'note'" class="newReponse note">
        <p>Une note entre deux valeurs</p>
        <label for="labelNote">details de la question (ex : en quelques mots ... )</label>
        <input type="text" name="labelNote">
    </div>

</form>