<div>
    <mat-toolbar color="primary" class="toolbar">
      <span>details du questionnaire</span>
      <mat-icon>close</mat-icon>
    </mat-toolbar>
    <div class="content-detail">
      <div class="column small-gap cont-item-detail">
        <div class="row">
          <h1>Titre du Questionnaire</h1>
        </div>
        <div class="row">
          <p>
            ( Les detail du questionnaires )
          </p>
        </div>
        <div class="separateur-questionnaire"></div>
        <div style="width: 100%;">

          <!-- <app-question-item-list></app-question-item-list> -->

          
        </div>


    
    
      </div>
      <p>
          liste des question 0/0
      </p>
    </div>

</div>

