<!-- QUESTIONNAIRE CARD COMPONENT -->

<body id="questionnaire-item">
  <div class="cont-questionnaire-item">
    <div class="column">
      <span class="title">
        {{questionnaire.name}}
      </span>

      <mat-chip-list>
        <mat-chip>theme</mat-chip>
      </mat-chip-list>

    </div>
    <div class="column">
      <div class="row small-gap bigger">
        <span>{{questionnaire.questions.length}}</span>
        <i class="fa-solid fa-circle-question"></i>
      </div>
      <div class="row small-gap">
        <i class="fa-regular fa-clock"></i>
        <span>environ {{questionnaire.estimTemps}} min.</span>
      </div>
    </div>

    <div *ngIf="isAnswered" class="circle-btn uppercase participer">
      <a href="./index.html">participer</a>
    </div>
  </div>

  <div class="column uppercase showResult" *ngIf="!isAnswered">
    <p>déjà repondu</p>
    <button class=" showResult-btn uppercase">
      Voir des resultats
    </button>
  </div>

</body>