.item-question {
    justify-content: space-between;
    border-radius: 0.25em;
    padding: 2em 0;
    margin-bottom: 0.5em;
    gap: 0.5em;
}

.text-question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 2;
    align-items: flex-start;
}

.indexQuestion {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    width: 2em;
}

.no-drop-shadow{
    box-shadow: none;
    background-color: #f1f1f1;

}

.reponse-icon{
    color: darkgray;

}