<mat-expansion-panel hideToggle class="no-drop-shadow">
  <mat-expansion-panel-header class="row item-question">
    <div class="indexQuestion">{{indexQuestion + 1}}</div>
    <div class="text-question">
      <span class="title">{{ question.name }}</span>
      <span *ngIf="question.detail !== ''">( {{ question.detail }} )</span>
      <span *ngIf="question.theme !== ''" class="chip">{{ question.theme }}</span>
    </div>
    <button mat-icon-button color="primary" aria-label="éditer la question">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </mat-expansion-panel-header>

  <mat-list>
    <div mat-subheader *ngIf="question.type === 'checkbox'">Parmi toutes les réponses proposées, l'habitant ne pourra en choisir qu'une.</div>
    <div mat-subheader *ngIf="question.type === 'radio'">Parmi toutes les réponses proposées, l'habitant pourra en choisir plusieurs.</div>
    <div mat-subheader *ngIf="question.type === 'input'">L'habitant pourra en entrer du texte.</div>

    <div *ngFor="let reponse of question.reponses">
      <mat-list-item>
        <mat-icon *ngIf="question.type === 'checkbox'" class="reponse-icon" mat-list-icon>check_box_outline_blank
        </mat-icon>
        <mat-icon *ngIf="question.type === 'radio'" class="reponse-icon" mat-list-icon>radio_button_unchecked</mat-icon>
        <mat-icon *ngIf="question.type === 'input'" class="reponse-icon" mat-list-icon>description</mat-icon>
        <div mat-line>{{reponse}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>

  </mat-list>

</mat-expansion-panel>
