<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <i class="fa-solid fa-bars fa-lg"></i>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item disabled>
      <i class="fa-solid fa-folder"></i>
      <span>Changer de projet</span>
    </button>

    <button mat-menu-item disabled>
      <i class="fa-solid fa-bell"></i>
      <span>Voir les notifications</span>
    </button>

    <button mat-menu-item disabled>
      <i class="fa-solid fa-heart"></i>
      <span>Questionnaires Favoris</span>
    </button>

    <button mat-menu-item>
      <i class="fa-solid fa-square-plus"></i>
      <span>Créer un questionnaire</span>
    </button>

  </mat-menu>

  <span><strong>Questionnaire</strong> Urabnesse</span>

  <span class="menu-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Menu">
    <i class="fa-solid fa-user fa-lg"></i>
  </button>
</mat-toolbar>