#top-nav-bar{
    justify-content: space-between;
    background-color: #333333;
    padding: 0.5em 2em;
}

.parameter{
    font-size: 2em;
    color: #f2f2f2;
    transition: color 0.3s;
}

.parameter:hover{
    color: #aaaaaa;
}

.left-side{
    flex-wrap: wrap;
}