#new-question {
    align-items: stretch;
}
input {
    flex-grow: 2;
}
.newReponse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    gap: 0.5em;
}

.radio {
}

.input-reponse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.checkbox {
}

.boolean {
}

.inputText {
}

.note {
}

.detail-type {
    font-style: italic;
    font-size: 0.85em;
    color: rgb(92, 92, 92);
    margin-bottom: 1em;
}

.full-width {
    width: 100%;
}
