<form id="newQuestionnaire" name="new-questionnaire">


  <mat-form-field appearance="fill">
    <mat-label>Intitulé du questionnaire*</mat-label>
    <input matInput type=" text" [formControl]="nameFormControl">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Vous devez <strong>Obligatoirement</strong> ajouter un titre.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Détails</mat-label>
    <input matInput type=" text" [formControl]="detailFormControl">
  </mat-form-field>
  <h3>{{questions.length}} Question(s)</h3>
  <div class="cont-list questions-list">
    <!-- QUESTIONS LIST -->
    <mat-accordion class="small-gap">

      <app-question-item-list *ngFor="let question of questions; let i = index" [question]="question"
        [indexQuestion]="i">
      </app-question-item-list>
      
    </mat-accordion>

    <app-new-question *ngIf="isEditNewQuestion" (questionCreated)="onQuestionAdded($event)"></app-new-question>

    <!-- AJOUTER UNE QUESTION -->
    <span class="add-btn" *ngIf="!isEditNewQuestion">
      <button mat-icon-button color="primary" aria-label="Ajouter une question"
        (click)="isEditNewQuestion = !isEditNewQuestion">
        <i class="fa-solid fa-plus"></i>
      </button>
    </span>


    <button type="submit" class="quit-question-btn" mat-stroked-button color="warn"
      (click)="isEditNewQuestion = !isEditNewQuestion" *ngIf="isEditNewQuestion">Annuler la
      question.</button>
  </div>

  <!-- VALIDER LE FORMULAIRE -->
  <button (click)="sendQuestionnaire(nameForm)" type="button" mat-flat-button color="primary"
    [disabled]="nameFormControl.invalid || questions.length < 1">Valider le
    questionnaire.
  </button>
</form>
