#newQuestionnaire {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

h3 {
    margin: 1em 0em 0.5em 1.5em;
    color: darkgrey;
    font-size: 1em;
    font-weight: 100;
}

.questions-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.add-btn {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.quit-question-btn {
    margin-top: 1em;
    width: 100%;
}
