<form id="newQuestionnaire" name="new-questionnaire">


    <mat-form-field appearance="fill">
        <mat-label>Intitulé du questionnaire*</mat-label>
        <input matInput type=" text" name="questionnaireName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Details</mat-label>
        <input matInput type=" text" name="questionnaireDetail">
    </mat-form-field>
    <div class="cont-list questions-list">
        <!-- UNE QUESTION TYPE -->
        <div class="row item-question">
            <div class="indexQuestion">1</div>
            <div class="text-question">
                <span class="title">Intitulé de la question</span>
                <span class="">( infos et details de la question )</span>
                <span class="chip">thème</span>
            </div>
            <button mat-icon-button color="primary" aria-label="éditer la question">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </div>

        <app-new-question *ngIf="isEditNewQuestion"></app-new-question>

        <!-- AJOUTER UNE QUESTION -->
        <span class="add-btn" *ngIf="!isEditNewQuestion">
            <button mat-icon-button color="primary" aria-label="Ajouter une question"
                (click)="isEditNewQuestion = !isEditNewQuestion">
                <i class="fa-solid fa-plus"></i>
            </button>
        </span>

        <div class="">
            <button type="submit" class="quit-question-btn" mat-stroked-button color="warn"
                (click)="isEditNewQuestion = !isEditNewQuestion" *ngIf="isEditNewQuestion">Annuler la
                question.</button>
        </div>
    </div>

    <!-- VALIDER LE FORMULAIRE -->
    <button type="submit" class="" mat-flat-button color="primary">Valider le questionnaire.</button>

</form>