<h1 class="intro-title center">Espace Habitant</h1>
<p class="intro-text center">Pour le moment les questionnaires ci-dessous sont fictifs, et ne sont pas chargé. Lorem
  ipsum dolor
  sit amet
  consectetur, adipisicing elit. Commodi, aliquam eligendi! Corrupti, quibusdam facilis vero ex excepturi alias
  cupiditate modi?</p>

<span class="separateur"></span>

<div class="global-dashboard row large-gap">
  <div class="column">
    Habitants inscrits
    <span>
      64
    </span>
  </div>

  <div class="column">
    Questionnaires
    <span>
      7
    </span>
  </div>

  <div class="column">
    Objectif
    <span>
      73%
    </span>
  </div>

  <div class="column">
    Questionnaires remplis
    <span>
      164
    </span>
  </div>

  <button mat-stroked-button>
    TEST
  </button>

</div>




<div class="row-warp">
  <div *ngFor="let questionnaire of questionnaires">
    <app-questionnaire-card [questionnaire]="questionnaire"></app-questionnaire-card>

  </div>
</div>