<h1 class="center">Espace Habitant</h1>


<div class="global-dashboard row large-gap">
  <div class="column">
    Habitants inscrits
    <span>
      64
    </span>
  </div>

  <div class="column">
    Questionnaires
    <span>
      6
    </span>
  </div>

  <div class="column">
    Objectif
    <span>
      73%
    </span>
  </div>

  <div class="column">
    Questionnaires remplis
    <span>
      164
    </span>
  </div>
</div>


<div class="row-warp">
  <app-questionnaire-card></app-questionnaire-card>
  <app-questionnaire-card></app-questionnaire-card>
  <app-questionnaire-card></app-questionnaire-card>
  <app-questionnaire-card></app-questionnaire-card>
  <app-questionnaire-card></app-questionnaire-card>
  <app-questionnaire-card></app-questionnaire-card>
  <app-questionnaire-card></app-questionnaire-card>
</div>